<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>{{ title }} Page</title>

    <!-- Main CSS-->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="all">
         <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                 <div class="card-header">{{ message }}</div>
                <div class="card-body">
                    <h2 class="title">{{ title }} Form</h2>
                    <hr>
                    <br>
                    <br>
                  
                  {% block content %}
                  {% endblock %}
                </div>
            </div>
        </div>
    </div>

</body>

</html>
