{% extends 'loginlayout.html' %}

{% block content %}
                    <form method="POST" action="">

                                <div class="input-group">
                                    <label class="label">First Name</label>
                                    <input class="input--style-4" type="text" name="first_name" required>
                                </div>
                        
                                <div class="input-group">
                                    <label class="label">Last Name</label>
                                    <input class="input--style-4" type="text" name="last_name" required>
                                </div>
                                <div class="input-group">
                                    <label class="label">Email Address</label>
                                    <input class="input--style-4" type="email" name="email" required>
                                </div>
                        
                                <div class="input-group">
                                    <label class="label">Password</label>
                                    <input class="input--style-4" type="password" name="password" required>
                                </div>
                                <div class="input-group">
                                    <label class="label">Confirm Password</label>
                                    <input class="input--style-4" type="password" name="password" required>
                                </div>
     
                        <div class="p-t-15">
                            <button class="btn btn-primary" type="submit">Create Account</button>
                        </div>
                            <h6>  <a href="{{ url_for('login') }}">Click here to Login</a></h6>
                    </form>
{% endblock %}