{% extends 'layout.html' %}
{% block content %}
  <h2 class="title">{{ staff.firstName}}'s Profile</h2>
  <div class="table-responsive" >
    <table class="table table-striped table-sm">
      <tbody>
        <tr>
          <td><b>Staff Id</b></td>
          <td>{{ staff.id }}</td>
        </tr>
         <tr>
          <td><b>First Name</b></td>
          <td>{{ staff.firstName }}</td>
        </tr>
        <tr>
          <td><b>Last Name</b></td>
          <td>{{ staff.lastName }}</td>
        </tr>
        <tr>
          <td><b>Email</b></td>
          <td>{{ staff.email }}</td>
        </tr>
        <tr>
          <td><b>Function</b></td>
          <td>{{ staff.function }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="p-t-15">
      <a class="btn btn-primary"  href="{{ url_for('update' , id= staff.id) }}">Edit</a>
      <a class="btn btn-primary btn-danger" href="{{ url_for('delete' , id= staff.id) }}">Delete</a>
  </div>  


{% endblock %}